.form {
  width: 100%;
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 55px 12px 20px;
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  transition: 0.3s;
  background-color: transparent;
  background-color: var(--primary-input-bcg);
  color: var(--secondary-text-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  outline: none;

  font-size: 17px;
}

.input:focus {
  border-color: var(--secondary-border-color);
  opacity: 1;
  box-shadow: 0 0 20px var(--secondary-border-color);
}

.input:focus::placeholder {
  opacity: 0;
}

.input::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: var(--primary-placeholder-color);
  transition: opacity 0.3s ease;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--primary-font);
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  transition: 0.3s;
  background-color: transparent;
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.button:hover {
  background-color: rgba(224, 220, 220, 0.432);
}

@media screen and (max-width: 650px) {
  .input {
    padding: 10px 40px 10px 10px;
    font-size: 0.875rem;
  }

  .button {
    padding: 10px 15px;
  }
}
