.form {
  width: 100%;
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 55px 12px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  transition: 0.3s;
  background-color: transparent;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;

  font-size: 17px;
}

.input:focus {
  border-color: #ff9900;
  opacity: 1;
}

.input:focus::placeholder {
  opacity: 0;
}

.input::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: lightgray;
  transition: opacity 0.3s ease;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  transition: 0.3s;
  background-color: transparent;
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.button:hover {
  background-color: rgba(211, 211, 211, 0.432);
}

@media screen and (max-width: 650px) {
  .input {
    padding: 10px 40px 10px 10px;
    font-size: 0.875rem;
  }

  .button {
    padding: 10px 15px;
  }
}
